@model CargoSample2.Models.CargoOrderViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
@*
<div>
    <h4>CargoOrderViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReceiverName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReceiverName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReceiverEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReceiverEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReceiverPhoneNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReceiverPhoneNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsAccepted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAccepted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CargoStatusId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CargoStatusId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CargoTypeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CargoTypeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CityId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CityId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
*@


<div class="container">
    <h4 class="text-center">Cargo Order Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">Order ID</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.OrderId)</dd>

        <dt class="col-sm-3">Order Date</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.OrderDate)</dd>

        <dt class="col-sm-3">Receiver Name</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.ReceiverName)</dd>

        <dt class="col-sm-3">Receiver Email</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.ReceiverEmail)</dd>

        <dt class="col-sm-3">Receiver Phone No.</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.ReceiverPhoneNo)</dd>

        <dt class="col-sm-3">Accepted</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.IsAccepted)</dd>

        <dt class="col-sm-3">Cargo Status</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.CargoStatusId)</dd>

        <dt class="col-sm-3">Customer ID</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.CustId)</dd>

        <dt class="col-sm-3">Cargo Type</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.CargoTypeId)</dd>

        <dt class="col-sm-3">City</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.CityId)</dd>

        <dt class="col-sm-3">Weight</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Weight)</dd>

        <dt class="col-sm-3">Price</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Price)</dd>
    </dl>
</div>
<div class="text-center mt-4">
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }, new { @class="btn btn-primary" })
    <a asp-action="Index" class="btn btn-secondary">Back</a>
</div>
